
Name: FAR-HAT ALI NABDALLA
Registration Number: 24BIT107
Question Number: 17

:root {
    --background-color: #121212;
    --card-color:--hover-color: #169944;
    --text-color: white;
    --button-color: crimson;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}



header {
    background-color: rgb(229, 243, 128);
    text-align: center;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;
    transition: 0.3s;
}

nav a:hover {
    color: var(--primary-color);
}



.album-section {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.album-card {
    display: flex;
    gap: 20px;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 12px;
    max-width: 900px;
    width: 100%;
    transition: transform 0.3s;
}

.album-card:hover {
    transform: scale(1.02);
}

.album-images img {
    width: 250px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.album-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album-details h2 {
    color: var(--primary-color);
    margin-bottom: 15px;
}

.album-details p {
    margin-bottom: 10px;
}



.buttons {
    margin-top: 20px;
}

.buttons a {
    display: inline-block;
    text-decoration: none;
    padding: 12px 18px;
    border-radius: 6px;
    margin-right: 10px;
    transition: 0.3s;
}

.spotify-btn {
    background-color: var(--primary-color);
    color: white;
}

.spotify-btn:hover {
    background-color: var(--hover-color);
}

.youtube-btn {
    background-color: var(--button-color);
    color: white;
}

.youtube-btn:hover {
    opacity: 0.8;
}


#songs {
    text-align: center;
    padding: 20px;
}

#songs ul {
    list-style-type: square;
    margin-top: 15px;
}

#songs li {
    margin-bottom: 8px;
}


footer {
    background-color: rgb(205, 245, 102);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}



@media (max-width: 375px) {

    .album-card {
        flex-direction: column;
        text-align: center;
    }

    .album-images img {
        width: 100%;
    }

    .buttons a {
        display: block;
        margin-bottom: 10px;
    }
}